body{
    margin:0;
    padding: 0;
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../IMAGE/lgo.jpg);
    font-family: Palatino, URW Palladio L,serif;
    font-size: 16px;
    background-size: cover;
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
}
.main{
    width: 100%;
    background-color:#0004;
    color: black;
}
.menu{
    line-height: 45px;
    font-weight: 700;
    text-transform: uppercase;
}
.main ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left:140px;
}
.main .menu .menu_i{
    display: inline-block;
    position: relative;
    transition: 0.7s all;
}
.main .menu .menu_i a{
    padding:12px 24px;
    text-decoration:none;
    color:white;
    display: block;
}
.menu_i:hover{
     background-color:#232527;
     transform: skewX(20deg);
     animation-direction: alternate;
     animation:skew 1s infinite;
}
 #acc{
    background-color:#232527  ;
}
.title{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%)
}
.title h1{
    color: white;
    font-size:30px;
    font-family:Palatino, URW Palladio L, serif;
}
.lgo img{
    height: 40px;
    position: absolute;
    top: 60%;
    left: 50%;
  transform: translate(-50%,-50%);
  height:200px;
}
